# Python: Typy numeryczne - zadania

## Type Int Time

1. Oblicz ile sekund to pięć minut
2. Oblicz ile sekund to jedna godzina
3. Oblicz ile sekund to dzień pracy (8 godzin)
4. Oblicz ile godzin to miesiąc pracy (22 dni pracy)
5. Oblicz ile minut to tydzień pracy (5 dni pracy)

In [4]:
SECOND = 1
MINUTE = SECOND * 60
HOUR = MINUTE * 60

five = 5 * MINUTE / SECOND
hour = HOUR / SECOND
workday = 8 * HOUR / SECOND
workmonth = 22 * workday / HOUR
workweek = 5 * workday / MINUTE

print(f'5 minut to {five} sekund')
print(f'1 godzina to {hour} sekund')
print(f'8 godzin to {workday} sekund')
print(f'Miesiąc pracy to {workmonth} godzin')
print(f'Tydzień pracy to {workweek} minut')

5 minut to 300.0 sekund
1 godzina to 3600.0 sekund
8 godzin to 28800.0 sekund
Miesiąc pracy to 176.0 godzin
Tydzień pracy to 2400.0 minut

# Type Int Bytes

1. Wielkość pliku to jeden megabajt
2. Oblicz wielkość w bitach
3. Oblicz wielkość w megabitach

Podpowiedź:

- 1 Kb = 1024 b
- 1 Mb = 1024 Kb
- 1 B = 8 b
- 1 KB = 1024 B
- 1 MB = 1024 KB

In [13]:
b = 1
Kb = 1024 * b
Mb = 1024 * Kb
B = 8 * b
KB = 1024 * B
MB = 1024 * KB

plik_b = MB
plik_Mb = MB / Mb

print(f'Wielkość pliku to {plik_b} bitów')
print(f'Wielkość pliku to {plik_Mb} megabitów')

Wielkość pliku to 8388608 bitów
Wielkość pliku to 8.0 megabitów

# Type Int Bandwidth

1. Mając łącze internetowe "do 100 Mb/s"
2. Ile zajmie ściągnięcie pliku 100 MB?

In [16]:
bandwidth_s = 100 * Mb
download_100MB = (100 * MB) / bandwidth_s

print(f'Ściągnięcie pliku 100 MB zajmie {download_100MB} sekund')

Ściągnięcie pliku 100 MB zajmie 8.0 sekund

In [17]:
SEC = 1

predkosc = 100 * Mb / SEC
plik = 100 * MB

czas = plik / predkosc

print(f'Czas ściągania to {czas} sek.')

Czas ściągania to 8.0 sek.

# Type Int Temperature

1. Jeden Kelwin to jeden stopień Celsiusza (1K = 1°C)
2. Zero Kelwina (bezwzględne) to -273.15 stopni Celsiusza
3. W zadaniu przyjmij równe -273°C (0K = -273°C)
4. Ile Kelwinów, a ile stopni Celsiusza wynoszą średnie temperatury powierzchni:

- Księżyca w dzień: 453 K
- Księżyca w nocy: 93 K
- Mars najwyższa: 20 °C
- Mars najniższa: -153 °C
- Mars średnia: −63 °C

In [22]:
K = -273
C = +273

moon_day = 453 + K
moon_night = 93 + K
mars_high = 20 + C
mars_low = -153 + C
mars_mean = -63 + C

print(f'Księżyc dzień {moon_day} °C')
print(f'Księżyc noc {moon_night} °C')
print(f'Mars najwyższa {mars_high} K')
print(f'Mars najniższa {mars_low} K')
print(f'Mars średnia {mars_mean} K')

Księżyc dzień 180 °C
Księżyc noc -180 °C
Mars najwyższa 293 K
Mars najniższa 120 K
Mars średnia 210 K

# Type Float Tax

1. Cena usługi wynosi 100 PLN netto
2. Usługa objęta jest 23% stawką VAT
3. Oblicz wartości podatku oraz cenę brutto

Output:

Result [PLN]: net=100 tax=23.0 gross=123.0

In [28]:
    
PLN = 1
cena = 100 * PLN
vat = 23 / 100  # procent

net = cena
tax = cena * vat
gross = cena * (1+vat)

print(f'Result [PLN]: {net=} {tax=} {gross=}')

Result [PLN]: net=100 tax=23.0 gross=123.0

# Type Float Altitude

1. Wysokość lotu samolotem wynosi 10 000 ft
2. Dane używają systemu imperialnego (US)
3. Przelicz je na system metryczny (układ SI)
4. Wynik zaokrąglij do jednego miejsca po przecinku
5. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

Plane altitude: 3048.0 m

Podpowiedź:

- 1 ft = 0.3048 m

In [31]:
m = 1
ft = 0.3048 * m

alt = 10000 * ft

print(f'Plane altitude: {alt} m')

Plane altitude: 3048.0 m

# Type Float Volume

1. Objętość butelki wynosi 20 Fl Oz
2. Dane używają systemu imperialnego (US)
3. Przelicz je na system metryczny (układ SI)
4. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    Bottle volume: 0.5914688 l

Podpowiedź:

- 1 Fl Oz = 0.02957344 l

In [34]:
l = 1
Oz = 0.02957344 * l

bulk = 20 * Oz

print(f'Objętość butelki wynosi {bulk} l')

Objętość butelki wynosi 0.5914688 l

# Type Float Distance

1. Użyj kodu z sekcji "Input" (patrz poniżej)
2. Przekonwertuj jednostki
3. Zamiast ... podstaw wyliczone i przekonwertowane wartości
4. Zwróć uwagę na ilość miejsc po przecinku
5. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Input:

    m = 1337

    print(f'Meters: {...}')
    print(f'Kilometers: {...}')
    print(f'Miles: {...}')
    print(f'Nautical Miles: {...}')
    print(f'All: km: {...}, mi: {...}, nm: {...}')
Output:

    Meters: 1337
    Kilometers: 1.337
    Miles: 0.83
    Nautical Miles: 0.722
    m: 1337, km: 1, mi: 0.8, nm: 0.72
Podpowiedź:

    1 km = 1000 m
    1 mile = 1609.344 m
    1 nautical mile = 1852 m

In [48]:
m = 1337
km = m / 1000
mi = m / 1609.344
nm = m / 1852

print(f'Meters: {m}')
print(f'Kilometers: {km}')
print(f'Miles: {mi:.02f}')
print(f'Nautical Miles: {nm:.03f}')
print(f'All: km: {m}, mi: {mi:.01f}, nm: {nm:.02f}')

Meters: 1337
Kilometers: 1.337
Miles: 0.83
Nautical Miles: 0.722
All: km: 1337, mi: 0.8, nm: 0.72

# Type Float Velocity

1. Ograniczenie prędkości wynosi 75 MPH
2. Dane używają systemu imperialnego (US)
3. Przelicz je na system metryczny (układ SI)
4. Ograniczenie prędkości zaokrąglij do jednego miejsca po przecinku

In [57]:
HOUR = 1
m = 1
km = 1000 * m
mi = 1609.344 * m

mph = mi / HOUR
kph = km / HOUR

sl = 75 * mph

print(f'Ograniczenie prędkości wynosi {sl/kph:.01f} km/h')

Ograniczenie prędkości wynosi 120.7 km/h

# Type Float Pressure

1. Ciśnienie operacyjne skafandra kosmicznego EMU (NASA): 4.3 PSI
2. Ciśnienie operacyjne skafandra kosmicznego ORLAN (Roscosmos): 400 hPa
3. Oblicz ciśnienie operacyjne skafandra EMU w kPa
4. Oblicz ciśnienie operacyjne skafandra Orlan w PSI
5. Wypisz wszystkie wyniki w kPa oraz PSI zaokrąglając do dwóch miejsc po przecinku
6. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    EMU operating pressure: 29.65 kPa, 4.30 psi
    Orlan operating pressure: 40.00 kPa, 5.80 psi
Podpowiedź:

* 1 hPa = 100 Pa
* 1 kPa = 1000 Pa
* 1 psi = 6894.757 Pa

In [63]:
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
psi = 6894.757 * Pa

emu = 4.3 * psi
orlan = 400 * hPa

print(f'EMU operating pressure: {emu/kPa:.02f} kPa, {emu/psi:.02f} psi')
print (f'Orlan operating pressure {orlan/kPa:.02f} kPa, {orlan/psi:.02f} psi')

EMU operating pressure: 29.65 kPa, 4.30 psi
Orlan operating pressure 40.00 kPa, 5.80 psi

# Type Float Percent

1. International Standard Atmosphere (ISA) na poziomie morza wynosi 1013.25 hPa
2. Oblicz ciśnienie parcjalne tlenu na poziomie morza
3. Wypisz ISA oraz ciśnienie parcjalne O2 wyniki w kPa zaokrąglając do dwóch miejsc po przecinku
4. Porównaj wyniki z sekcją "Output" (patrz poniżej)

Output:

    International Standard Atmosphere: 101.33 kPa
    O2 partial pressure at sea level: 21.22 kPa
    
Podpowiedź:

- 1 hPa = 100 Pa
- 1 kPa = 1000 Pa
- 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)

Skład atmosfery:

- Azot 78.084%
- Tlen 20.946%
- Argon 0.9340%
- Dwutlenek węgla 0.0407%
- Pozostałe 0.001%

In [69]:
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
ata = 1013.25 * hPa

o2 = 0.20946 * ata

print(f'International Standard Atmosphere: {ata/kPa:.02f} kPa')
print(f'O2 partial pressure at sea level: {o2/kPa:.02f} kPa')

International Standard Atmosphere: 101.33 kPa
O2 partial pressure at sea level: 21.22 kPa

# Type Float Gradient
1. Na jakiej wysokości nad poziomem morza panuje ciśnienie równe ciśnieniu parcjalnemu tlenu?
2. Wypisz rezultat w metrach zaokrąglając do dwóch miejsc po przecinku
3. Porównaj wyniki z sekcją "Output" (patrz poniżej)
Output:

    Oxygen starvation altitude: 7088.63 m
    
Podpowiedź:

- gradient ciśnienia (maleje) = 11.3 Pa / 1 m
- 1 hPa = 100 Pa
- 1 kPa = 1000 Pa
- 1 ata = 1013.25 hPa (ISA - International Standard Atmosphere)

Skład atmosfery:

* Azot 78.084%
* Tlen 20.946%
* Argon 0.9340%
* Dwutlenek węgla 0.0407%
* Pozostałe 0.001%

In [75]:
m = 1
Pa = 1
hPa = 100 * Pa
kPa = 1000 * Pa
ata = 1013.25 * hPa

o2 = 0.20946 * ata
gradient = 11.3 * Pa / m

height = (ata - o2) / gradient
print(f'Oxygen starvation altitude: {height:.02f} m')

Oxygen starvation altitude: 7088.63 m